<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Главная</title>
</head>

<body>
    <header>
        <h3 class="greet"> Добро пожаловать <strong>{{user.username}}</strong></h3>
        <a href="/logout" class="button btn_quit">Выйти</a>
    </header>

    <main>
      <section class="section">
        <div id="content" class="content">
          {% for elem in sentiment %}
              {% for key, value in elem.items %}
                  <div id="{{key}}" class="flex element">
                      <div class="ticker_info flex">
                        <p id="ticker" class="ticker">{{key}}</p>
                        <div>
                          <p id="positive_p"> <span class="sent">positive:</span> <span class="ticker_value" id="positive_sp">
                            {{value.positive}}</span></p>
                          <p id="negative_p"> <span class="sent">negative:</span> <span class="ticker_value" id="negative_sp">
                            {{value.negative}}</span></p>
                        </div>
                      </div>

                      <button class="button button_remove" value={{key}} onclick="remove(this)">
                        <hr class="button_remove__minus"></hr>
                      </button>
                  </div>
              {% endfor %}
          {% endfor %}
        </div>

        <div id="div_form" class="div_form">
          <form name="form" class="form">
            <label class="form_label">Выберите тикер:</label>
            {% csrf_token %}
            <p class="form_field">{{ form.ticker}}</p>
            <button class="button button_add">Добавить</button>
          </form>
        </div>
      </section>
    </main>
</body>


<script type="text/javascript">
  let isRunning = true;
</script>

<script type="text/javascript">
    function updateData() {
        if (isRunning) {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url 'update' %}');
            xhr.onload = function() {
              if (xhr.status === 200) {
                const data = JSON.parse(xhr.responseText);

                for(let i = 0; i < data['data'].length; i += 1){
                    var ticker = Object.keys(data['data'][i])[0];

                    var positive = data['data'][i][ticker]['positive'];
                    var negative = data['data'][i][ticker]['negative'];

                    const tickerElement = document.getElementById(ticker);

                    const positiveElement = tickerElement.querySelector("#positive_sp");
                    const negativeElement = tickerElement.querySelector("#negative_sp");

                    positiveElement.textContent = positive;
                    negativeElement.textContent = negative;
                };
              } else {
                console.error('Ошибка запроса:', xhr.statusText);
              };
            };
            xhr.onerror = function() {
              console.error('Ошибка запроса:', xhr.statusText);
            };
            xhr.send();
          } else {return;};
        }

  setInterval(updateData, 30000);
</script>

<script type="text/javascript">
    var div_form = document.querySelector('#div_form');

    document.forms.form.onsubmit = function(e) {
        isRunning = false;
        e.preventDefault();

        csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var user_select = document.forms.form.{{form.ticker.name}}.value;

        user_select = encodeURIComponent(user_select);

        var xhr = new XMLHttpRequest();

        xhr.open('POST', '{% url 'main' %}');

        xhr.onreadystatechange = function(){
            if (xhr.readyState === 4 && xhr.status === 200){
                var resp = JSON.parse(xhr.responseText);
                if (resp["status"] === 1) {
                    var added_div = document.createElement('div');

                    added_div.insertAdjacentHTML("afterBegin", '<div class="ticker_info flex"><p id="ticker" class="ticker">' + resp["ticker"] + 
                      '</p><div><p id="positive_p"> <span class="sent">positive:</span> <span class="ticker_value" id="positive_sp">' 
                      + resp["positive"] + 
                      '{{value.positive}}</span></p><p id="negative_p"> <span class="sent">negative:</span> <span class="ticker_value" id="negative_sp">' 
                      +resp["negative"] + 
                      '{{value.negative}}</span></p></div></div><button class="button button_remove" onclick="remove(this)" value={{key}} ><hr class="button_remove__minus"></hr></button>');
                    
                    added_div.className = "flex element"
                    added_div.id = resp["ticker"]
                    added_div.lastChild.value = resp["ticker"]

                    var div = document.getElementById('content');

                    div.append(added_div);
                } else {alert("Акция уже есть в списке отслеживания")};
            };
        };

        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-Csrftoken', csrf);
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');

        xhr.send('ticker=' + user_select);
        isRunning = true;
    };
</script>

<script type="text/javascript">
    function remove(elem){

        csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var xhr = new XMLHttpRequest();

        var key = elem.value
        key = encodeURIComponent(key);

        xhr.open('POST', '{% url 'remove' %}');

        xhr.onreadystatechange = function(){
            if(xhr.readyState === 4 && xhr.status === 200) {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    var resp = JSON.parse(xhr.responseText);
                    if(resp["status"] === 1) {
                        alert('Должен быть хотя бы один элемент в листе наблюдения')
                    } else {
                        elem.parentNode.remove();
                    };
                };
            };
        };

        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-Csrftoken', csrf);
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');

        xhr.send('ticker=' + key);
    };
</script>

</body>
</html>